@font-face {
    font-family: 'Kids Journey DEMO VERSION';
    src: url('KidsJourneyDEMOVERSION.woff2') format('woff2'),
        url('KidsJourneyDEMOVERSION.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Kids Journey DEMO VERSION', sans-serif;
}

.header {
  background-color: #333;
  padding: 10px 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  display: inline-block;
}

.nav__link:hover {
  background-color: #555;
  border-radius: 4px;
}